<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Bongo Notification Tester</a>
    </div>
    <div class="navbar-collapse collapse">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Order ID" id="search-oid">
        </div>
      </form>
    </div><!--/.nav-collapse -->
  </div>
</div>
